postgresql: &postgresql
  adapter: postgresql
  host: "{{database_host}}"
  port: 5432
  username: "{{service}}"
  password: "{{database_password}}"
  encoding: unicode

# Comment the postgresql line and uncomment the mysql line
# if you want to use mysql
common: &common
  # Choose one of the following
  <<: *postgresql
  #<<: *mysql

  # Should match environment.sidekiq.concurrency
  pool: {{app_environment_sidekiq_concurrency |default(5)}}

##################################################
#### CONFIGURE ABOVE #############################
##################################################

# Normally you don't need to touch anything here

combined: &combined
  <<: *common
development:
  <<: *combined
  database: diaspora_development
production:
  <<: *combined
  database: {{service}}
test:
  <<: *combined
  database: diaspora_test
integration1:
  <<: *combined
  database: diaspora_integration1
integration2:
  <<: *combined
  database: diaspora_integration2
