[Unit]
Description=Diaspora social network (sidekiq)
PartOf={{service}}.target
StopWhenUnneeded=true

[Service]
User={{service}}
Group={{service}}
UMask=0027
Environment=RAILS_ENV=production
WorkingDirectory=/var/www/{{service}}/www/
ExecStart=/bin/bash -lc "bin/bundle exec sidekiq"
Restart=always

[Install]
WantedBy={{service}}.target
