object Endpoint "{{hostvars[icinga2_parent].ansible_fqdn}}" {
}

object Zone "{{hostvars[icinga2_parent].ansible_fqdn}}" {
	endpoints = [ "{{hostvars[icinga2_parent].ansible_fqdn}}" ]
}

object Endpoint NodeName {
}

object Zone ZoneName {
	endpoints = [ NodeName ]
	parent = "{{hostvars[icinga2_parent].ansible_fqdn}}"
}

object Zone "global-templates" {
  global = true
}
